@model IEnumerable<Bai_APP.Entity.ViewModels.MessageViewModel>


<p>
    <br />
    @Html.ActionLink("Create New", "Create")
</p>
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="jumbotron">
        <h1>@ViewBag.Message</h1>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageText)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.MessageText)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { MessageID = item.MessageID, MessageText = item.MessageText }) |
                @Html.ActionLink("Details", "Details", new { MessageID = item.MessageID, MessageText = item.MessageText }) |
                @Html.ActionLink("Delete", "Delete", new { MessageID = item.MessageID, MessageText = item.MessageText })
            </td>
        </tr>
    }
</table>
