@model IEnumerable<Bai_APP.Entity.ViewModels.MessagePermissionViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserLogin)
        </th>
        <th>
            @Html.DisplayName("Operacja")
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserLogin)
        </td>
        <td>
            @Html.ActionLink("Ustaw", "UserMessagePermission", new { UserID = item.UserID,MessageID = item.MessageID})
        </td>
    </tr>
}

</table>
